<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Tip_Calculator.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>74A551721E6FDAF5000FAC61</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>74A551861E6FDAF6000FAC61</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>74A551911E6FDAF6000FAC61</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
